<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель администратора</h2>
  <div class="alert alert-danger" *ngIf="auth.error$ |async as error">{{ error }}</div>
<!--  as позволяет значение из стрима положить в переменную -->
  <div class="form-control"
       [ngClass]="{ invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email:</label>
    <input type="email" id="email"
           formControlName="email">
    <div *ngFor="let error of validationErrors.email">
                      <span *ngIf="form.get('email').hasError(error.type)
                                  && (form.get('email').dirty
                                  || form.get('email').touched)"
                            class="validation">{{ error.message }}</span>
    </div>
  </div>
  <div class="form-control pass"
       [ngClass]="{ invalid: form.get('password').touched && form.get('password').invalid }"
  >
    <label for="password">Пароль:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngFor="let error of validationErrors.password">
                      <span *ngIf="form.get('password').hasError(error.type)
                                  && (form.get('password').dirty
                                  || form.get('password').touched)"
                            class="validation">{{ error.message }}</span>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || submitted"
  >Войти</button>

</form>
